@import 'tailwindcss';

@font-face {
  font-family: "Russo One";
  src: url("./src/assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

body {
  font-family: "Russo One", sans-serif;
}

@theme inline {
  --color-cyber-primary: var(--color-pink-300);
  --color-cyber-secondary: var(--color-emerald-200);
  --color-cyber-disabled: var(--color-slate-500);
  --color-cyber-text: var(--color-white);
  --color-cyber-text-secondary: var(--color-slate-300);
  --color-cyber-background: var(--color-slate-900);

}

/*Убираем стрелки инпута типа number*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* обязательно для Chrome/Safari */
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;       /* Safari/Chrome */
  -moz-appearance: textfield; /* Firefox */
}